body { padding-top: 60px; }
tr.book-row:hover { cursor: pointer; }
#bookDetailForm input#inputTitle { width: 375px; }
#bookDetailForm input#inputAuthor { width: 375px; }
#bookDetailForm input#inputIsbn { width: 220px; }